xsddemo/menu.xsd

<?xml version="1.0"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
  <xs:element name="menu">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item" type="itemType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="itemType">
    <xs:sequence>
      <xs:element name="code" type="xs:integer"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="price" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>



