dtddemo/menuG.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT menu (item+)>

<!ELEMENT item (name, price+, combo*)>
<!ATTLIST item code ID #REQUIRED>

<!ELEMENT name (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ATTLIST price currency CDATA #REQUIRED>

<!ELEMENT combo EMPTY>
<!ATTLIST combo paired_item IDREF #REQUIRED>
<!ATTLIST combo price CDATA #REQUIRED>



